body {
  background-color: #3caec3;
  font-family: Helvetica, sans-serif;
  padding-top: 40px;
  text-align: center;
}

h1 {
  color: #d96d96;
  margin-bottom: 35px;
}

p {
  color: #a31450;
}

p.textcenter {
  text-align: center;
  padding-bottom: 70px;
}

a {
  text-decoration: none;
  color: #4664c5;
  font-size: 18px;
}

img {
  width: 300px;
  margin-right: 20px;
}

img.grande {
  width: 500px;
}

img.narco {
  width: 400px;
}

img.medio {
  width: 350px;
}

img.diminuir {
  width: 250px;
}
